.container {
  display: none;
  border: 1px solid #a7a7a7;
  box-shadow: 0 0 4px 0 #e0e0e0;
  position: absolute;
  //margin: 0;
  top: calc(100% + 22px);
  width: max-content + 50px;
  padding: 0 10%;
  z-index: 99999;
  right: 19%;

  &--expanded {
    display: block;
  }
}
.arrow {
  // &:before {
  content: "";
  position: absolute;
  top: -10px;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #000000 transparent;
  z-index: 9999;
  // }

  &:after {
    content: "";
    position: absolute;
    right: -10px;
    top: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #ffffff transparent;
    z-index: 9995;
  }
}

.menuItem {
  padding: 5px 0;
  font-family: "Open Sans";
  text-align: center;

  &:hover {
    cursor: pointer;
    color: #9f4600;
  }

  &:nth-child(2) {
    padding-top: 15px;
  }

  &:last-child {
    padding-bottom: 15px;
  }
}
