.container {
  display: grid;
  grid-template-columns: 0.2fr 1fr 0.2fr;
  grid-template-areas: "avatar review grade";
  border-bottom: 1px solid #707070;
  padding-bottom: 2%;
  padding-top: 3%;
  margin: 1% 0;
  justify-items: center;
  grid-gap: 10px;
}

.userInfo {
  grid-area: avatar;
  font-family: "Open Sans";
  font-size: 16px;
  justify-self: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar {
  width: 30px;
  padding-bottom: 7px;
}

.reviews {
  grid-area: review;
  font-family: "Open Sans";
  justify-self: start;
}

.title {
  color: #ac5615;
  font-size: 18px;
  padding-bottom: 1%;
}

.newTitle,
.newComment {
  border: 0;
  min-width: 20vw;
  font-size: 18px;
  color: #ac5615;
  margin-bottom: 2%;
  &:focus {
    outline: none;
    border-bottom: 1px solid black;
  }
}

.comment {
  font-size: 14px;
}

.newComment {
  font-size: 14px;
  color: black;
  height: 2vh;
  width: 50vw;
  padding-bottom: 1%;
}

.stars {
  grid-area: review;
  justify-self: end;
  align-self: center;
}

.grade {
  grid-area: grade;
  align-self: center;
  font-family: "Open Sans";
  font-size: 17px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.up {
  transform: rotate(180deg);
  width: 20%;

  &:hover {
    cursor: pointer;
  }
}

.down {
  width: 20%;

  &:hover {
    cursor: pointer;
  }
}

.addButton {
  width: 20%;
  transition: width 0.3s;

  &:hover {
    width: 25%;
    cursor: pointer;
  }
}

.delete {
  grid-area: review;
  justify-self: end;
  align-self: center;
  width: 5%;
  transition: width 0.3s;

  &:hover {
    width: 5.5%;
    cursor: pointer;
  }
}
