.container {
  display: grid;
  grid-template-rows: 100px 2fr 0.6fr;
  grid-template-columns: auto;
  grid-template-areas: "header" "rest";
  grid-gap: 50px;
  background: linear-gradient(90deg, #242424 18%, #ffffff 18%);
  position: fixed;
  top: 0;
  left: 0;
}

.content {
  grid-area: rest;
  display: grid;
  grid-template-columns: 0.87fr 4fr;
  grid-template-areas: "suggestions workspaces";
}

.workspaces {
  grid-area: workspaces;
  text-align: left;
  padding-left: 5%;
}

.title {
  font-family: "Modern No. 20";
  font-size: 40px;
  color: #9f4600;
}

.workspaceCards {
  padding-top: 2%;
  grid-area: workspaces;
  display: grid;
  grid-gap: 2%;
  grid-template-columns: repeat(auto-fit, minmax(580px, 5fr));
  overflow: scroll;
}

.workspaceCardClassName {
  background-color: rgba(250, 175, 111, 0.1);
}
