.container {
  display: grid;
  grid-template-rows: 0.1fr 0.4fr;
  grid-template-areas: "monthAndYear" "days";
  grid-gap: 20px;
  background-color: #fafafa;
  padding: 5% 0;
}

.monthAndYear {
  grid-area: monthAndYear;
  display: flex;
  justify-content: space-around;
  position: relative;
}

.month {
  color: black;
  font-weight: 700;
  font-size: 20px;

  &:hover {
    cursor: pointer;
  }
}

.monthsList {
  position: absolute;
  left: 15%;
  top: 15%;
}

.year {
  color: #bb5000;
  font-size: 23px;
}

.days {
  place-self: center;

  display: grid;
  grid-area: days;
  grid-template-columns: repeat(7, 50px);
  grid-gap: 8px;

  font-size: 19px;
}

.days > * {
  align-items: center;
  display: flex;
  justify-content: center;
}

.days > *::before {
  content: "";
  display: inline-block;
  height: 0;
  width: 1px;
}

.day {
  padding: 10px 0;
  position: relative;

  &:hover,
  &:focus {
    color: #bb5000;
    cursor: pointer;
  }
  font-weight: 400;

  &--highlighted {
    color: #bb5000;
    font-weight: 600;
  }
}

.listContainer {
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid #424242;
  padding: 0 5%;
}

.listContent {
  list-style-type: none;
  padding: 0;
}

.monthItem {
  &:nth-child(2) {
    padding-top: 0;
  }

  &:last-child {
    padding-bottom: 0;
  }
}

.monthList {
  left: 15%;
  padding: 5%;
  width: 100px;
  height: 150px;
  overflow: scroll;
  background-color: rgba(255, 255, 255, 0.9);
}

.dayList {
  padding: 1%;
  top: 100px !important;
}

.eventContainer {
  display: none;

  &:hover {
    color: black;
  }

  &--expanded {
    display: block;
    width: 350px;
    background-color: rgba(255, 255, 255, 0.9);
    color: black;
    border: 1px solid #a7a7a7;
    position: absolute;
    top: 50px;
    z-index: 100;

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 2fr;
    grid-template-areas: "title date" "description add";
    grid-gap: 10px;
    padding: 25px 30px;
  }
}

.title {
  grid-area: title;
  font-family: "Modern No. 20";
  font-size: 28px;
  color: #bb5000;
  text-align: left;
  font-weight: 500;
  border-bottom: 1px solid #9c9c9c;
}

.workspace {
  font-size: 22px;
  color: #1a1a1a;
  padding-top: 4%;
  padding-bottom: 5%;
  font-weight: 500;
}

.date {
  grid-area: date;
  color: #767676;
  font-family: "Open Sans";
  font-weight: 100;
  font-size: 18px;
}

.description {
  grid-area: description;
  color: rgb(61, 61, 61);
  font-size: 16px;
  padding-top: 3%;
  text-align: left;
  line-height: 30px;
  font-weight: 400;
}

.titles {
  grid-area: title;
}

.title2 {
  font-family: "Modern No. 20";
  font-size: 28px;
  color: rgba(26, 26, 26, 0.55);
  text-align: left;
  font-weight: 400;
  border: 0;
  background-color: rgba(255, 255, 255, 0.1);

  &:focus {
    outline: none;
  }
}

.workspace2 {
  font-size: 21px;
  padding-top: 4%;
  padding-bottom: 5%;
  font-weight: 300;
  font-family: "Modern No. 20";
  border: 0;
  border-bottom: 1px solid #a0a0a0;
  color: rgba(26, 26, 26, 0.45);
  background-color: rgba(255, 255, 255, 0.1);

  &:focus {
    outline: none;
  }
}

.description2 {
  grid-area: description;
  color: rgba(26, 26, 26, 0.55);
  font-size: 16px;
  text-align: left;
  line-height: 30px;
  font-weight: 300;
  border: 0;
  background-color: rgba(255, 255, 255, 0.1);

  &:focus {
    outline: none;
  }
}

.addButton {
  width: 30%;
  grid-area: add;
  align-self: end;
  justify-self: end;
  transition: width 0.3s;

  &:hover {
    width: 35%;
  }
}
