.container {
  grid-area: header;
  display: grid;
  grid-template-columns: 0.4fr 1fr 0.5fr 0.5fr;
  grid-template-rows: auto;
  grid-template-areas: "logo menu search user-icons";
  grid-gap: 10px;
  align-items: center;
  padding-top: 1%;
}

.logo {
  grid-area: logo;
  font-family: "Brush Script MT";
  font-size: 55px;
  color: #b4b4b4;
  text-decoration: none;
}

.menu {
  grid-area: menu;
  display: flex;
  justify-content: space-evenly;
}

.menuItem {
  text-decoration: none;
  font-size: 25px;
  font-family: "Modern No. 20";
  color: #dddddd;

  &:hover {
    color: #9f4600;
  }
}

.special {
  color: #0e0e0e;

  &:hover {
    color: #9f4600;
  }
}

.search {
  grid-area: search;
}

.userIcon {
  grid-area: user-icons;
  display: flex;
  justify-content: flex-end;
  padding-right: 20%;
  position: relative;
}

.notificationContainer {
  text-align: right;
  position: relative;
}

.ring {
  padding-right: 20%;
  text-align: center;
  width: 10%;
}

.user {
  width: 10%;
}
