.container {
  grid-area: header;
  display: grid;
  grid-template-columns: 0.4fr 1fr 0.5fr 0.5fr;
  grid-template-rows: auto;
  grid-template-areas: "logo menu search user-icons";
  grid-gap: 10px;
  align-items: center;
  padding-top: 1%;
}

.logo {
  grid-area: logo;
  font-family: "Brush Script MT";
  font-size: 55px;
  color: #b4b4b4;
  text-decoration: none;
}

.menu {
  grid-area: menu;
  display: flex;
  justify-content: space-evenly;
}

.menuItem {
  text-decoration: none;
  font-size: 25px;
  font-family: "Modern No. 20";
  color: #dddddd;

  &--dark {
    color: #0e0e0e;
  }

  &:hover {
    color: #9f4600;
  }
}

.special {
  color: #0e0e0e;

  &:hover {
    color: #9f4600;
  }
}

.search {
  grid-area: search;
}

.userIcon {
  grid-area: user-icons;
  display: flex;
  justify-content: flex-end;
  padding-right: 20%;
  position: relative;
}

.notificationContainer {
  text-align: right;
  position: relative;
}

.ring {
  padding-right: 20%;
  text-align: center;
  width: 10%;
}

.info {
  display: grid;
  grid-template-columns: 0.3fr 1.5fr;
  grid-gap: 10px;
  justify-content: space-between;
}

.testIcon {
  width: 80%;
  height: auto;
  align-self: center;
}

.bookTitle {
  font-family: "Modern No. 20";
  font-size: 20px;
}

.user {
  width: 10%;
}

.library {
  text-decoration: none;
  color: inherit;

  &:hover {
    color: inherit;
  }
}

.activeClassName {
  color: #9f4600;
}

.loginDropdown {
  padding: 10px 20px;
}

.loginIcon {
  width: 12%;
}

.loginItem {
  &:not(:last-child) {
    padding-bottom: 15px;
  }
}

.loginInput {
  border: 0;
  border-bottom: 1px solid rgb(87, 86, 86);
  padding-bottom: 5px;
  font-size: 15px;
  &:focus {
    outline: none;
  }
}

.loginFailureInput {
  border-bottom: 1px solid rgb(243, 59, 59);
  color: rgb(243, 59, 59);
}

.wrongCredentials {
  color: rgb(243, 59, 59);
  font-size: 13px;
}

.loginButton {
  padding: 5px 10px;
  background-color: white;
  border: 0;
  border: 1px solid rgb(211, 211, 211);
  color: #9f4600;
  font-size: 13px;

  &:hover {
    cursor: pointer;
    background-color: #fafafa;
  }

  &:focus {
    outline: none;
  }
}

.loginFailureButton {
  color: rgb(243, 59, 59);
}

.register {
  color: #9f4600;
  font-size: 12px;
  &:hover {
    color: #d16512;
  }
}
