.container {
  display: grid;
  grid-template-columns: 1fr 0.3fr;
  grid-template-areas: "title date";
  border-bottom: 1px solid #707070;
  padding-bottom: 1%;
  padding-top: 5%;
  background-color: rgba(250, 175, 111, 0.08);
  margin: 5% 0;
}

.title {
  grid-area: title;
  font-family: "Modern No. 20";
  font-size: 18px;
}

.date {
  grid-area: date;
  font-family: "Open Sans";
  font-size: 14px;
}
