.search {
  border-bottom: 1px solid !important;
  display: flex;
  justify-content: space-between;
}
.message {
  font-size: 19px;
  border: 0;
  width: 100%;
  right: 0;
  outline: none;

  &:focus {
    outline: none;
  }
}

.magnifyingGlass {
  width: 8%;
  height: 8%;
  padding: 2%;

  &:hover {
    cursor: pointer;
  }
}
