.container {
  position: relative;
}

.search {
  border-bottom: 1px solid !important;
  display: flex;
  justify-content: space-between;
}
.message {
  font-size: 19px;
  border: 0;
  width: 100%;
  right: 0;
  outline: none;

  &:focus {
    outline: none;
  }
}

.magnifyingGlass {
  width: 8%;
  height: 8%;
  padding: 2%;

  &:hover {
    cursor: pointer;
  }
}

.menu {
  position: absolute;
  left: 0;
  width: 20.5vw;
  z-index: 100;
  background-color: white;
}

.menuOption {
  display: block;

  padding: 15px 10px;
  border-bottom: 1px solid rgb(116, 116, 116);
  text-decoration: none;
  color: rgb(49, 49, 49);
  font-size: 15px;
  text-align: left;

  &:hover {
    background-color: #fafafa;
  }
}
