.search {
  border-bottom: 1px solid !important;
  display: flex;
  justify-content: space-between;
}
.message {
  font-size: 18px;
  // background: url("../../icons/magnifying-glass.png");
  background-repeat: no-repeat;
  //border: 0 0 inherit 0;
  border: 0;
  padding-bottom: 2%;
  // border: 1px solid red;
  width: 100%;
  // background-size: 20px auto;

  &:focus {
    outline: none;
  }
}

.magnifyingGlass {
  width: 8%;
  height: 8%;
  padding-bottom: 2%;

  // transform: translateY(-25%);
}
