.container {
  background-color: #fafafa;
  display: grid;
  grid-template-columns: 0.5fr 1.5fr 0.5fr;
  grid-template-areas: "image info members";
  grid-gap: 10%;
  padding: 40px;
  width: 580px;

  @media screen and (max-width: 1516px) {
    width: 580px;
  }

  &:hover {
    background-color: #f5f5f5;
  }

  &--extended {
    grid-template-columns: 1fr 0.5fr;
    grid-template-rows: 0.5fr 0.5fr;
    grid-template-areas:
      "info members"
      "description members";
  }
  &--extended:hover {
    background-color: #fafafa;
  }
}

.thumbnail {
  grid-area: image;
  width: 100%;
  align-self: center;

  &--extended {
    width: 22%;
    align-self: center;
  }
}

.info {
  grid-area: info;
  font-family: "Modern No. 20";
  font-size: 28px;
  border-right: 1px solid #9f4600;
  padding-right: 10%;

  &--extended {
    display: flex;
    border-right: none;
  }
}

.name {
  font-size: 35px;
  color: #9f4600;
  align-self: center;
  padding-left: 10%;
  width: 100%;
}

.description {
  font-family: "Open Sans";
  font-size: 15px;
  padding-top: 5%;

  &--extended {
    grid-area: description;
  }
}

.members {
  grid-area: members;
  align-self: center;
  text-align: center;

  &--extended {
    border-left: 1px solid #9f4600;
    height: 100%;
  }
}

.group {
  width: 30%;
}

.text {
  color: rgb(77, 77, 77);
  font-size: 14px;
  padding-top: 7%;
}

.linkItem {
  text-decoration: none;
  outline: none;
  color: inherit;
}
